# Python environments & cache
venv/
env/
__pycache__/
*.pyc
.pytest_cache/

# Machine Learning Data
# Ignore local datasets
data/
*.csv

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# VS Code
.vscode/
